<section id="servicios" class="services">
  <div class="titulo">
    <h2>Nuestros</h2>
    <h3>servicios</h3>
  </div>

  <p class="pp">
    Cada servicio está diseñado para garantizar entregas seguras, eficientes y a
    tiempo. Nos movemos contigo, donde lo necesites, llevando tu carga con el
    compromiso que nos distingue.
  </p>
  <div class="imagenes">
    <div class="card">
      <!-- <img class="imgs" src="../../../assets/camion.png" alt="camion"> -->

      <div class="text">
        <!-- <div class="icones">
          <img
            class="icon"
            src="../../../assets/Camión verde en diseño plano.png"
            alt=""
            width="50px"
          />
        </div> -->
        <h4>servicio</h4>
        <h3>Trasporte de carga suelta</h3>
        <p>
          Movemos tu mercancía de manera segura y flexible, garantizando
          entregas rápidas a cualquier destino, sin importar el volumen.
        </p>
        <a href="https://wa.me/573150603000?text=Hola%2C%20quiero%20solicitar%20una%20cotizaci%C3%B3n%20para%20un%20env%C3%ADo.%20Por%20favor%20ind%C3%ADquenme%20qu%C3%A9%20informaci%C3%B3n%20necesitan.%20%F0%9F%9A%9A%F0%9F%93%A6" target="_blank">
<button>Cotizar</button>
        </a>

      </div>
    </div>

    <div class="card">
      <!-- <img class="imgs" src="../../../assets/carretera.png" alt="carretera"> -->

      <div class="text">
        <!-- <div class="icones">
          <img
            class="icon"
            src="../../../assets/Ciudad minimalista en tonos verdes.png"
            alt=""
            width="50px"
          />
        </div> -->
        <h4>servicio</h4>
        <h3>Distribución urbana y nacional</h3>
        <p>
          Llegamos a cada rincón del país con rutas optimizadas, conectando
          ciudades y regiones para hacer que tu producto esté siempre más cerca
          de tus clientes.
        </p>
        <a href="https://wa.me/573150603000?text=Hola%2C%20quiero%20solicitar%20una%20cotizaci%C3%B3n%20para%20un%20env%C3%ADo.%20Por%20favor%20ind%C3%ADquenme%20qu%C3%A9%20informaci%C3%B3n%20necesitan.%20%F0%9F%9A%9A%F0%9F%93%A6" target="_blank">
 <button>Cotizar</button>
        </a>

      </div>
    </div>
    <div class="card">
      <!-- <img class="imgs" src="../../../assets/almacen.png" alt="almacen"> -->

      <div class="text">
        <!-- <div class="icones">
          <img
            class="icon"
            src="../../../assets/Repartidor con paquetes verdes.png"
            alt=""
            width="50px"
          />
        </div> -->
        <h4>servicio</h4>
        <h3>Almacenamiento y logística</h3>
        <p>
          Custodiamos y gestionamos tus productos en espacios seguros y
          organizados, optimizando tiempos y operaciones para tu tranquilidad.
        </p>
        <a href="https://wa.me/573150603000?text=Hola%2C%20quiero%20solicitar%20una%20cotizaci%C3%B3n%20para%20un%20env%C3%ADo.%20Por%20favor%20ind%C3%ADquenme%20qu%C3%A9%20informaci%C3%B3n%20necesitan.%20%F0%9F%9A%9A%F0%9F%93%A6" target="_blank">
<button>Cotizar</button>
        </a>

      </div>
    </div>
    <div class="card">
      <!-- <img class="imgs" src="../../../assets/Caja en barco al atardecer.png" alt="barco"> -->

      <div class="text">
        <!-- <div class="icones">
          <img
            class="icon"
            src="../../../assets/Barco de carga minimalista verde.png"
            alt=""
            width="50px"
          />
        </div> -->
        <h4>servicio</h4>
        <h3>Transporte de última milla</h3>
        <p>
          Entregamos tu pedido en el destino final, incluso en zonas de difícil
          acceso, conectando comunidades y cerrando el ciclo logístico de manera
          eficiente.
        </p>
        <a href="https://wa.me/573150603000?text=Hola%2C%20quiero%20solicitar%20una%20cotizaci%C3%B3n%20para%20un%20env%C3%ADo.%20Por%20favor%20ind%C3%ADquenme%20qu%C3%A9%20informaci%C3%B3n%20necesitan.%20%F0%9F%9A%9A%F0%9F%93%A6" target="_blank">
<button>Cotizar</button>
        </a>

      </div>
    </div>
  </div>
</section>
