<footer>
  <div class="Ima">
    <img src="../../../assets/logo_SEELS_blanco.png" alt="SEEL" width="200px" />
  </div>
  <div class="Service">
    <div>
<h3>Servicios Especializados y Logisticas S.A.S</h3>
    </div>
    <p>
      Conectamos ciudades, regiones y territorios especiales, brindando
      soluciones logísticas confiables, seguras y eficientes en toda Colombia.
    </p>
  </div>
  <div class="info">
    <h3>Enlaces rápidos</h3>
    <div>
    <p>inicio</p>
    <p>Servicios</p>
    <p>Cobertura</p>
    <p>Sobre Nosotros</p>
    <p>Contacto</p>
    </div>
  </div>
  <div class="Contac">
    <h3>Contáctanos</h3>
    <div>
      <img src="../../../assets/ubicacion.png" alt="ubicacion" width="20px" />
      <p>Bogota, Colombia</p>
    </div>
    <div>
      <img src="../../../assets/telefono.png" alt="telefono" width="20px" />
      <p>+57 300 552 3698</p>
    </div>
    <div>
      <img src="../../../assets/correo.png" alt="correo" width="20px" />
      <p>seels.carganacionalgmail.com</p>
    </div>
  </div>
</footer>
