<section class="home">
  <div class="Text">
      <div class="Title">
          <h1>LLegamos donde</h1>
          <h2>otros no llegan</h2>
       </div>
        <div class="info">
          <p>Brindamos soluciones logisticas integrales
              con maxima seguridad y eficiencia
          </p>
      </div>
      <div>
        <a href="https://wa.me/573150603000?text=Hola%20%F0%9F%91%8B%2C%20necesito%20asesoramiento%20sobre%20sus%20servicios%20de%20env%C3%ADos%20%F0%9F%93%A6.%20%0A%20%C2%BFPodr%C3%ADan%20orientarme%20con%20la%20mejor%20opci%C3%B3n%20seg%C3%BAn%20mis%20necesidades%3F" target="_blank">
<button class="boton-cotizar">SOLICITA ASESORIA</button>
        </a>

      </div>
  </div>
  <div class="img">
    <img src="../../../assets/homeimg.png" alt="repartidor" width="450px">
  </div>


</section>
<!-- <img  class="FondoVerde" src="../../../assets/fondo_verde_recreado.svg" alt=""> -->
